<head>
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script type="text/javascript" src="~/js/minimax.js" defer></script>
    <script type="text/javascript" src="~/js/playagainstcomputer.js" defer></script>
</head>
<body>
    <h1 class="difficulty-text">Difficulty</h1>
    <div class="difficulty-buttons-container">
        <button id="easy" type="button" class="difficulty-button" onclick="selectDifficulty(this.id)">Easy</button>
        <button id="medium" type="button" class="difficulty-button selected" onclick="selectDifficulty(this.id)">Medium</button>
        <button id="hard" type="button" class="difficulty-button" onclick="selectDifficulty(this.id)">Hard</button>
        <button id="carl" type="button" class="difficulty-button" onclick="selectDifficulty(this.id)">Carl</button>
    </div>
    <partial name="~/Views/Play/Board.cshtml" />
    <div class="default-button">
        <button type="button" onclick="resetGame()">Reset</button>
    </div>
</body>
