<table class="board">
    <tr class="board-row-boarder">
        <td id="0" class="board-cell-border"></td>
        <td id="1" class="board-cell-border"></td>
        <td id="2" class="board-cell"></td>
    </tr>
    <tr class="board-row-boarder">
        <td id="3" class="board-cell-border"></td>
        <td id="4" class="board-cell-border"></td>
        <td id="5" class="board-cell"></td>
    </tr>
    <tr>
        <td id="6" class="board-cell-border"></td>
        <td id="7" class="board-cell-border"></td>
        <td id="8" class="board-cell"></td>
    </tr>
</table>

