<div class="score-board">
    <div class="score-board-cell">
        <div>Player</div>
        <div id="player-score">0</div>
    </div>
    <div class="score-board-cell">
        <div>Tie</div>
        <div id="tie-score">0</div>
    </div>
    <div class="score-board-cell">
        <div>Opponent</div>
        <div id="opponent-score">0</div>
    </div>
</div>