<h1>About</h1>

<p>This is a hobby project with the intent of learning. The main focus has been to set up a website from scratch. But also to get familiar with Microsofts SignalR package.</p>

<h2>Contact:</h2>
<div>Mail: Carl.magnusson@live.com</div>
<p>Phone: Nope :)</p>