@{
    ViewData["Title"] = "Home Page";
}

<div class="tic-tac-toe-img">
    <img src="~/img/TicTacToe.png" alt="Tic-Tac-Toe">
</div>
<div class="intro-texts">
    <h1 class="display-4">Welcome to Tic-Tac-Toe</h1>
    <p>Select gamemode to play</p>
</div>
<div class="default-button intro-button">
    <button type="button" onclick="location.href='/play/againstcomputer'">Play vs computer</button>
</div>
<div class="default-button intro-button">
    <button type="button" onclick="location.href='/play/againstplayer'">Play vs player</button>
</div>
<div class="default-button intro-button">
    <button type="button">How To Play</button>
</div>
