<head>
    <script src="~/js/howtoplay.js" defer></script>
</head>
<div class="tic-tac-toe-img">
    <img src="~/img/TicTacToe.png" alt="Tic-Tac-Toe">
</div>
<div class="intro-texts">
    <h1 class="display-4">Welcome to Tic-Tac-Toe</h1>
    <p>Select gamemode to play</p>
</div>
<div class="default-button intro-button">
    <button type="button" onclick="location.href='/play/againstcomputer'">Play vs computer</button>
</div>
<div class="default-button intro-button">
    <button type="button" onclick="location.href='/play/againstplayer'">Play vs player</button>
</div>
<div class="default-button intro-button">
    <button id="how-to-play-button" type="button" onclick="setHowToPlayMessage()">How To Play</button>
</div>
<div id="popup-container" class="popup-container" style="display: none;">
    <p class="how-to-play-text-container"><span id="how-to-play-text"></span><a id="how-to-play-link" href="#" target="_blank" rel="noreferrer"></a></p>
    <div class="close-button" onclick="hideHowToPlay()">
        <img class="close-img" src="~/img/TicTacToeX.png" />
    </div>
</div>
